.bannerImg {
    height: 80vh;
    width: 100%;
}

.bannerBtnPrev {
    position: absolute;
    margin-top: -90px;
    margin-left: 50px;
    z-index: 11;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

.bannerBtnNext {
    position: absolute;
    margin-top: -90px;
    margin-left: 120px;
    z-index: 11;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

.bannerTextSection {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -450px;
    z-index: 1;
    color: #fffafa;
    text-shadow: 4px 4px 4px #2b2828;
    ;
}

.bannerText {
    font-size: 90px;
}

@media screen and (max-width: 768px) {
    .bannerText {
        font-size: 30px;
        margin-top: 150px;
    }

    .companyName {
        font-size: 22px !important;
    }

    .bannerImg {
        height: 450px;
    }
}