.chairManBannerContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../Assets/Chairman.png');
    background-attachment: fixed;
    background-size: cover;
    height: 70vh;

}

.messageChairman {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}