.title1 {
    font-weight: 700;
    font-size: 80px;
    text-shadow: 4px 4px 4px #f8f6f6;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title2 {
    font-weight: 500;
    letter-spacing: 12px;
    font-size: 50px;
    text-shadow: 2px 2px 2px #575757;
    text-align: center;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 30px;
    }
}